body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2.5em;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.container {
  width: 375px;
  margin: auto;
}

/* -------  TopBar ------- */

.nav, .infobar {
  width: 100%;
  margin: auto;
}

.nav {
  height: 18px;
}

.info {
  background-image: url("../images/infobar.png");
  background-size: cover;
  background-position: center;
}

.infobar {
  background-color: #FF3D00;
  padding-top: 3px;
  padding-bottom: .5%;
}

.BusStop > h1 {
  width: 50%;
  margin: auto;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
}

.left {
  display: inline-block;
  width: 6%;
  height: 20px;
  margin-top: 5px;
  margin-left: 16px;
  float: left;
}

.pointer {
  background-image: url("../images/left-arrow.png");
  background-size: cover;
  background-position: center;
}

/* -------  map ------- */

.background {
  width: 375px;
  height: 215px;
  border-bottom: 1px solid #8E8E8E;
}

.map {
  background-image: url("../images/map.png");
  background-size: cover;
  background-position: center;
}

/* -------  bus route info ------- */

.firstCircle, .secondCircle, .direction, .busNumber, .Route, .spot, .clock,
.restart, .arrows, .frequency, .right {
  display: inline-block;
}

.direction, .busNumber, .Route, .frequency, {
  text-align: left;
}

.firstCircle, .secondCircle {
  margin-left: 16px;
  margin-right: 28px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.yellow {
  background-color: #F4C10A;
  border: 2px solid #F4C10A;
}

.red {
  background-color: #EF0404;
  border: 2px solid #EF0404;
}

.direction {
  margin-left: 16px;
  width: 8%;
  margin-right: 10px;
  font-weight: 700;
  color: #34B10B;

}

.busNumber {
  width: 10%;
  font-weight: 700;
}

.Route {
  width: 40%;
}

.spot, .restart {
  margin-top: 10px;
  width: 3%;
  height: 11.5px;
}

.clock {
  background-image: url("../images/clock.png");
  background-size: cover;
  background-position: center;
}

.arrows {
  background-image: url("../images/restart.png");
  background-size: cover;
  background-position: center;
}

.frequency {
  width: 20
  %;
}

/* -------  right pointers ------- */

.right {
  margin-top: 10px;
  margin-right: 16px;
  width: 3%;
  height: 12px;
  float: right;
}

.arrow {
  background-image: url("../images/arrow.png");
  background-size: cover;
  background-position: center;
}

/* ------- Route container wrappers ------- */

.EastboundA, .EastboundB, .Northbound, .SouthboundA,
.SouthboundB, .Reroute, .OutOfServiceA, .OutOfServiceB,
.OutOfServiceC {
  margin-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #8e8e8e;
}
